* {
        margin: 0px;
        padding: 0px;
    }

body {
    background-color: #d8f5d4;
    min-height: 100vh;
    margin: 0;
}

.head{
    position: relative;
    background-color: #42d4da;
    width: 100%;
    aspect-ratio: 18 / 1;
}

.head_textbox{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 3vmax;
    padding: 0 1vmax;
    color: black;
}

.menu ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.menu li {
    border-right: 1px solid #bbbbbb;
}
  
.now_menu li{
    background: rgb(228, 117, 208); 
}

.menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1vmax 5vmax;
    color: white;
    transition:all 0.3s;
}

.else_menu li a:hover:not(.active) {
    color: black;
    background-color: #dee656;
}

.main {
    background-color: #d8f5d4;
}

.table {
    background-color: #9ad0d8;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 0vmax 0vmax 2vmax 0vmax;
    border-top: solid 1px #000000; 
    border-bottom: solid 1px #000000; 
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    border-radius: 20px;
}

.space {
    height: 3vmax;
    display: flex;
}

.tablespace {
    height: 1vmax;
    display: flex;
}

table {
    background-color: rgb(255, 255, 255);
}

.box {
    width: fit-content;
    background-color: rgb(240, 240, 240);
    border: #000000 3px double; /*境界線の指定*/
    padding:10px;
    margin: 0 auto;
}